<footer>
    <aside class="wrap">
        <nav class="footlinks" id="footer-navigation">
            <a title="Karateke anasayfa" id="homepage" href="/">ANASAYFA</a>
            <a title="Yazar ve blog hakkında" id="about" href="/merhaba/">HAKKINDA</a>
            <a title="Akademik makaleler" id="publications" href="/makaleler/">MAKALELER</a>
            <a title="Procreate çizimleri" id="drawings" href="/cizimler/">ÇİZİMLER</a>
        </nav>
        <div class="foot-logos">
            <a id="twitter-owner" title="Karateke twitter" class="twitter-foot-logo" href="https://twitter.com/Karateke19">
                <svg class="twit-icon" viewBox="0 0 34 34" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"><path d="M24.91 12.1c-.58.25-1.2.43-1.86.5a3.27 3.27 0 001.43-1.8c-.63.38-1.33.65-2.06.8a3.25 3.25 0 00-5.54 2.96 9.21 9.21 0 01-6.69-3.4 3.24 3.24 0 001 4.34 3.26 3.26 0 01-1.46-.4v.03a3.25 3.25 0 002.6 3.18 3.26 3.26 0 01-1.47.06 3.26 3.26 0 003.04 2.25 6.51 6.51 0 01-4.81 1.35 9.18 9.18 0 004.98 1.46c5.97 0 9.23-4.95 9.23-9.24v-.42a6.56 6.56 0 001.61-1.68z"/><path d="M17 1a16 16 0 11-.01 32.01A16 16 0 0117 1zm0 1.57a14.43 14.43 0 11-.01 28.87A14.43 14.43 0 0117 2.57z"/></svg>
            </a>
            <a id="email-owner" title="Karateke email" class="email-foot-logo" href="mailto:karateke.github@gmail.com">
                <svg class="email-icon" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 34 34"><path d="M17.01 18.69l-2.4-1.98-5.23 6.17h15.26l-5.22-6.23-2.4 2.04zm8.2-7.58H8.8l8.2 6.9 8.2-6.9zm-5.44 5.23l5.48 6.54V11.7l-5.48 4.65v-.01zM8.75 11.71v11.17l5.48-6.53-5.48-4.65z" fill-rule="nonzero"/><path d="M17 1a16 16 0 11-.01 32.01A16 16 0 0117 1zm0 1.57a14.43 14.43 0 11-.01 28.87A14.43 14.43 0 0117 2.57z"/></svg>
            </a>
            <a id="rss-feed" title="RSS feed subscription" class="feed-foot-logo" href="/feed.xml">
                <svg class="feed-icon" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 34 34"><path d="M12.22 19.7a1.73 1.73 0 000 3.46 1.73 1.73 0 100-3.46zm-1.73-5.14v2.5c1.63 0 3.16.64 4.31 1.8a6.07 6.07 0 011.8 4.32h2.5a8.62 8.62 0 00-8.61-8.62zm0-4.43v2.5c5.81 0 10.54 4.73 10.54 10.55h2.5c0-7.2-5.84-13.05-13.04-13.05z" fill-rule="nonzero"/><path d="M17 1a16 16 0 11-.01 32.01A16 16 0 0117 1zm0 1.57a14.43 14.43 0 11-.01 28.87A14.43 14.43 0 0117 2.57z"/></svg>
            </a>
        </div>
    </aside> 
    <section class="licence">
        <div class="identity"><span>Ufuk Kızılgedik</span><svg class="identity-logo" xmlns="http://www.w3.org/2000/svg" clip-rule="evenodd" fill-rule="evenodd" stroke-miterlimit="8" viewBox="0 0 67 67"><path d="m32.41 28.91 25.39-14.78-24.46 41-24.45-41 35.58 22.35" fill="none" stroke="#000" stroke-width="3.24"/><path d="m8.88 14.13 24.45 41 11.13-18.65z" fill="#dd3435"/><path d="m57.8 14.13-12.52 20.96-11.21-7.03 23.71-13.93z" fill="#e5e4e3"/></svg><span>2016 - 2020</span></div>
    </section>
  </footer>
{%- include scripts.html -%}