<header class="site-header">
    <div class="wrap">
        <div class="site-logo">
            <a class="site-home" title="Karateke Anasayfa" href="/">
                {%- include logo.html -%}
            </a>
        </div>  
        <nav id="site-navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
          <ul>
            <li id="menu-item-1"><a title="Karateke Yazılar Anasayfa" href="/">Yazılar</a></li>
            <li id="menu-item-2"><a title="Notlar Arşivi" href="/notlar">Notlar</a></li>
            <li id="menu-item-3"><a title="Film Eleştirileri" href="/filmler">Film</a></li>
            <li id="menu-item-4"><a title="Kitap Eleştirileri" href="/kitaplar">Kitap</a></li>
            <li id="menu-item-5"><a title="Site Arama" href="/ara">Ara</a></li>
          </ul>
        </nav>
    </div>    
</header>