<header class="site-header">
    <div class="wrap">
        <div class="site-logo">
            <a class="site-home" title="Anasayfa" href="/">
                {%- include logo.html -%}
            </a>
        </div>  
        <nav id="site-navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
          <ul>
            <li id="menu-item-1"><a title="Anasayfa" href="/">Anasayfa</a></li>
            <li id="menu-item-2"><a title="Filmler" href="/filmler">Filmler</a></li>
            <li id="menu-item-3"><a title="Blog" href="/blog">Blog</a></li>
            <li id="menu-item-4"><a title="Arama" href="/ara">Ara</a></li>
          </ul>
        </nav>
    </div>    
</header>