<section class="home-section">
    <h3 class="section-header">Film & Kitap</h3>
    <div class="section-inner">
        <div class="kitap-section-inner">
        <div class="film-list">
            <div class="film-list-title"><h4>Filmler</h4></div>
            <div class="list-area">
            {%- assign filmlist = site.filmler | reverse -%}
            {%- for post in filmlist limit:5 -%}
            <a class="book-item" href="{{ post.url }}">
                <span class="item-title"> {{ post.title }}</span>
                <span class="item-star">{{ post.stars }} </span> 
            </a>
            {%- endfor -%}
            </div>
            <div class="pub-home-link">
                <a class="pub-arch-link link-box" href="/filmler/">
                    <span>Film listesine bak</span>
                </a>
            </div>
        </div>
        <div class="kitap-list">
            <div class="film-list-title"><h4>Kitaplar</h4></div>
            <div class="list-area">
            {%- assign kitaplist = site.kitaplar | reverse -%}
            {%- for post in kitaplist limit:5 -%}
                <a class="book-item" href="{{ post.url }}">
                    <span class="item-title"> {{ post.title }}</span>
                    <span class="item-star">{{ post.stars }} </span> 
                </a>
            {%- endfor -%}
            </div>
            <div class="pub-home-link">
                <a class="pub-arch-link link-box" href="/kitaplar/">
                    <span>Kitap listesine bak</span>
                </a>
            </div>
        </div>
        </div>
    </div>
</section>