<a href="{{ post.url }}">
    <div class="ratio-container"> 
        <img alt="Kapak Resmi" data-sizes="auto" class="lazyload arch-img" 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-lowsrc="/assets/img/featured/placeholder-lq.jpeg"
            data-srcset="/assets/img/featured/placeholder-320.jpeg 320w,
                         /assets/img/featured/placeholder-640.jpeg 640w,
                         /assets/img/featured/placeholder-960.jpeg 960w,
                         /assets/img/featured/placeholder-1280.jpeg 1280w,
                         /assets/img/featured/placeholder.jpeg 1600w" />
        <noscript>
        <img alt="Kapak Resmi" class="archive-img-fallback" src="https://karateke.github.io/assets/img/featured/placeholder-640.jpeg">
        </noscript>
    </div>
</a>