<a href="{{ post.url }}">
    <div class="ratio-container"> 
        <img alt="Kapak Resmi" data-sizes="auto" class="lazyload arch-img" 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-lowsrc="/assets/img/featured/placeholder-lq.jpg"
            data-srcset="/assets/img/featured/placeholder-320.jpg 320w,
                         /assets/img/featured/placeholder-640.jpg 640w,
                         /assets/img/featured/placeholder-960.jpg 960w,
                         /assets/img/featured/placeholder-1280.jpg 1280w,
                         /assets/img/featured/placeholder.jpg 1600w" />
        <noscript>
        <img alt="Kapak Resmi" class="archive-img-fallback" src="/assets/img/featured/placeholder-640.jpg">
        </noscript>
    </div>
</a>