<section class="home-section">
    <h3 class="section-header">Popüler Sayfalar</h3>
    <div class="section-inner">
        <ol class="popular-area">
            {%- assign popular-posts = site.documents | where: 'popular', 'true' | sort: 'rank' -%}
            {%- for post in popular-posts | limit: 4 -%}
            <li class="popular-item">
                <div class="popular-img">
                {%- include archive-image.html -%}
                </div>
                <div>
                    <span class="popular-number">{{ forloop.index0 | plus: 1 }}</span>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </div>
            </li>
            {%- endfor -%}
        </ol>
    </div>
</section>