<figure class="note-img">
{%- assign kitap_image = page.poster -%}
<div class="ratio-container kitap-ratio">  
    {%- assign k = kitap_image | split: '.' -%}
    <img class="lazyload kitap-img" alt="{{ page.title }}{% if page.collection == 'filmler' %} film afişi{% else %} kitap kapağı{% endif %}"
         src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
         data-lowsrc="/{{ k[0] }}-lq.{{ k[1] }}"
         data-srcset="/{{ k[0] }}-240.{{ k[1] }} 240w,
                      /{{ k[0] }}-360.{{ k[1] }} 360w,
                      /{{ k[0] }}.{{ k[1] }} 480w"/>
    <noscript>
        <img alt="{{ page.title }}{% if page.collection == 'filmler' %} film afişi{% else %} kitap kapağı{% endif %}" src="https://karateke.github.io/{{ k[0] }}.{{ k[1] }}">
    </noscript>
</div>
{%- if page.caption -%}
<figcaption class="note-caption">{{ page.caption }}</figcaption>
{%- endif -%}
</figure>