{%- if page.title contains "Filmler" -%}
<a class="pub-filter-links link-box" href="/filmler/favori-filmler/">
    <span>Favori Filmler</span>
</a>
<a class="pub-filter-links link-box" href="/filmler/2000-sonrasi-filmler/">
    <span>2000 Sonrası</span>
</a>
<a class="pub-filter-links link-box" href="/filmler/80ler-90lar-filmleri/">
    <span>80ler & 90lar</span>
</a>
<a class="pub-filter-links link-box" href="/filmler/80-oncesi-filmler/">
    <span>80 Öncesi</span>
</a>
<a class="pub-filter-links link-box" href="/filmler/aksiyon-macera-filmleri/">
    <span>Aksiyon</span>
</a>
<a class="pub-filter-links link-box" href="/filmler/belgesel-filmleri/">
    <span>Belgesel</span>
</a>
<a class="pub-filter-links link-box" href="/filmler/bilimkurgu-fantezi-filmleri/">
    <span>Bilimkurgu</span>
</a>
<a class="pub-filter-links link-box" href="/filmler/dram-filmleri/">
    <span>Dram</span>
</a>
<a class="pub-filter-links link-box" href="/filmler/gizem-suc-filmleri/">
    <span>Gizem</span>
</a>
<a class="pub-filter-links link-box" href="/filmler/komedi-filmleri/">
    <span>Komedi</span>
</a>
<a class="pub-filter-links link-box" href="/filmler/korku-gerilim-filmleri/">
    <span>Korku</span>
</a>
<a class="pub-filter-links link-box" href="/filmler/romantik-filmler/">
    <span>Romantik</span>
</a>
<a class="pub-filter-links link-box" href="/filmler/tarih-filmleri/">
    <span>Tarih</span>
</a>
<a class="pub-filter-links link-box" href="/filmler/">
    <span>Filmler Anasayfa</span>
</a>
{%- endif -%}

{%- if page.title contains "Kitaplar" -%}
<a class="pub-filter-links link-box" href="/kitaplar/favori-kitaplar">
    <span>Favori Kitaplar</span>
</a>
<a class="pub-filter-links link-box" href="/kitaplar/bilim-teknik-kitaplari/">
    <span>Bilim & Teknik</span>
</a>
<a class="pub-filter-links link-box" href="/kitaplar/bilimkurgu-kitaplari/">
    <span>Bilimkurgu</span>
</a>
<a class="pub-filter-links link-box" href="/kitaplar/deneme-kitaplari/">
    <span>Deneme</span>
</a>
<a class="pub-filter-links link-box" href="/kitaplar/mizah-kitaplari/">
    <span>Mizah</span>
</a>
<a class="pub-filter-links link-box" href="/kitaplar/roman-kitaplari/">
    <span>Roman & Öykü</span>
</a>
<a class="pub-filter-links link-box" href="/kitaplar/toplum-bilimleri-kitaplari/">
    <span>Toplum & İnsan</span>
</a>
<a class="pub-filter-links link-box" href="/kitaplar/">
    <span>Kitaplar Anasayfa</span>
</a>
{%- endif -%}