<!-- ld-json blogposting --> 
{%- if page.collection == 'posts' or page.collection == 'notlar' or page.collection == 'kitaplar' or page.collection == 'filmler' -%}
<script type="application/ld+json">{%- include blogposting.json -%}</script>
{%- endif -%}
<!-- ld-json searchlink --> 
{%- if page.url == '/index.html' -%}
<script type="application/ld+json">{%- include searchlink.json -%}</script>
<!-- ld-json logo --> 
<script type="application/ld+json">{%- include logo-structured.json -%}</script>
<!-- ld-json website --> 
<script type="application/ld+json">{%- include website.json -%}</script>
{%- endif -%}
<!-- ld-json breadcrumbs --> 
{%- if page.layout == 'post' -%}
<script type="application/ld+json">{%- include breadcrumbs.json -%}</script>
{%- endif -%}
{%- if page.collection == 'filmler' -%}
<script type="application/ld+json">{%- include bread-film.json -%}</script>
{%- endif -%}
{%- if page.collection == 'kitaplar' -%}
<script type="application/ld+json">{%- include bread-book.json -%}</script>
{%- endif -%}
{%- if page.collection == 'notlar' -%}
<script type="application/ld+json">{%- include bread-note.json -%}</script>
{%- endif -%}
<!-- ld-json archive itemlist --> 
{%- if page.layout == 'home' or page.layout == 'notes' or page.layout == 'tags' or page.layout == 'kategori' or page.layout == 'kitap-archive' %}
<script type="application/ld+json">{%- include archive-itemlist.json -%}</script>
{%- endif -%}
<!-- ld-json lists and such --> 
{%- if page.layout == 'post' and page.script -%}
<script type="application/ld+json">{%- include {{ page.script }} -%}</script>
{%- endif -%}
<!-- ld-json reviews --> 
{%- if page.collection == 'kitaplar' or page.collection == 'filmler' -%} 
    {%- if page.snippet -%}
<script type="application/ld+json">{%- include critic-review.json -%}</script>
    {%- else -%}
<script type="application/ld+json">{%- include pub-reviews.json -%}</script>
    {%- endif -%}
{%- endif -%}