<!-- ld-json blogposting --> 
{%- if page.collection == 'blog' or page.collection == 'posts' -%}
<script type="application/ld+json">{%- include blogposting.json -%}</script>
{%- endif -%}
<!-- ld-json searchlink --> 
{%- if page.url == '/index.html' -%}
<script type="application/ld+json">{%- include searchlink.json -%}</script>
<!-- ld-json logo --> 
<script type="application/ld+json">{%- include logo-structured.json -%}</script>
<!-- ld-json website --> 
<script type="application/ld+json">{%- include website.json -%}</script>
{%- endif -%}
<!-- ld-json breadcrumbs --> 
{%- if page.collection == 'posts' -%}
<script type="application/ld+json">{%- include bread-film.json -%}</script>
{%- endif -%}
{%- if page.collection == 'blog' -%}
<script type="application/ld+json">{%- include bread-blog.json -%}</script>
{%- endif -%}
<!-- ld-json archive itemlist --> 
{%- if page.layout == 'home' or page.layout == 'notes' %}
<script type="application/ld+json">{%- include archive-itemlist.json -%}</script>
{%- endif -%}
<!-- ld-json lists and such --> 
{%- if page.script -%}
<script type="application/ld+json">{%- include {{ page.script }} -%}</script>
{%- endif -%}
<!-- ld-json reviews --> 
{%- if page.collection == 'posts' -%} 
<script type="application/ld+json">{%- include critic-review.json -%}</script>
{%- endif -%}