<div class="subs-form">
<form action="https://gmail.us20.list-manage.com/subscribe/post?u=c0360db698164171cca2b52ee&amp;id=364fa5b25b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
  <h3 id="subscription" class="subs-header">Sinemap Bülteni</h3> 
  <div class="section-inner">
    <p class="subs-text">{{ "Sinemap'ın haftalık bültenine abone olmak için emailinizi girin." | smartify }}</p>
    <div class="subs-bar">
      <div>
        <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Email" title="@'ten sonra gelen kısım geçerli değil." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
      </div>
      <div><input type="submit" value="Abone Ol" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
    </div>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f2d244c0df42a0431bd08ddea_aeaa9dd034" tabindex="-1" value=""></div>
    <div class="mc-status"></div>
  </div>
</form>
</div>