<div class="subs-form">
<form action="https://app.us17.list-manage.com/subscribe/post?u=c28b27a92a54f85c7e124bafc&amp;id=c491b33cac" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
  <h3 id="subscription" class="subs-header">Sinemap Bülteni</h3> 
  <div class="section-inner">
    <p class="subs-text">{{ "Sinemap'ın haftalık bültenine abone olmak için emailinizi girin." | smartify }}</p>
    <div class="subs-bar">
      <div class="subs-name">
        <input type="text" name="FNAME" id="mce-FNAME" placeholder="Ad">
      </div>
      <div class="subs-email">
        <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Email" title="@'ten sonra gelen kısım geçerli değil." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
      </div>
      <div><input type="submit" value="Abone Ol" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c28b27a92a54f85c7e124bafc_c491b33cac" tabindex="-1" value=""></div>
    <div class="mc-status"></div>
    </div>
  </div>
</form>
</div>