{%- include head-dark.html -%}
<body>
{%- include header.html -%}  
<main class="article archive">
    <div class="archive-wrap">
        <section class="post-list">
        {{ content }}
        {%- for post in paginator.posts -%} 
            {%- include post-article.html -%}
        {%- endfor -%}
        {%- include referral.html -%}
        </section>
        {%- include pagelinks.html -%}
    </div>
    {%- include popular.html -%}
    {%- include blog-home.html -%}
    {%- include subscription.html -%}
</main>
{%- include footer.html -%}
</body>