{%- include head-dark.html -%}
<body>
{%- include header.html -%}  
<main class="article archive">
    <div class="archive-wrap">
        <h1 class="cat-found"><span>{{ page.autopages.display_name }}</span> kategorisindeki tüm yazılar </h1>
        <section class="post-list">
        {{ content }}
        {%- for post in paginator.posts -%} 
            {%- include post-article.html -%}
        {%- endfor -%}
        </section>
        {%- include pagelinks.html -%}
    </div>
    {%- include popular.html -%}
    {%- include kitaplik-area.html -%}
    {%- include subscription.html -%}
</main>
{%- include footer.html -%}
</body>