{%- include head-dark.html -%}
<body>
{%- include header.html -%}  
<main class="article">  
    <article class="wrap page">
        <h1 class="page-title">{{ page.title }}</h1>
        <div class="notes-wrap">
        <ul class="note-list">     
        {%- for post in paginator.posts -%}
            <li class="note-archive">
                <div class="note-archive-post">
                    <h2 class="note-title-link">
                        <a class="note-link" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                    </h2>
                    {%- if post == paginator.posts.first -%}
                    <p class="note-summary">{%- if post.description -%}{{ post.description | smartify }}{%- else -%}{{ post.excerpt | strip_html | strip_newlines | truncatewords: 30 }}{%- endif -%}</p>
                    {%- endif -%}
                    <span class="note-time">{%- include date-schema.html -%}</span>
                </div>
                <div class="note-archive-image">
                    {%- include archive-image.html -%}
                </div>
            </li>
        {%- endfor -%}
        </ul>
        </div>             
    </article>
{%- include pagelinks.html -%}
{%- include popular.html -%}
{%- include subscription.html -%}
</main>
{%- include footer.html -%}
</body>