{%- include head-dark.html -%}
<body>
{%- include header.html -%}
<main class="article">   
    <div class="wrap page">
{{ content }}

 <!-- Search form -->
<form role="search" method="get" action="/search" id="searchform" data-search-form><!-- <label for="q">Search term</label> --><input type="search" name="q" id="q" placeholder="Aranan sözcük..." data-search-input /></form>

<!-- Search results placeholder -->
<p class="search-found" data-search-found>&ldquo;<span data-search-found-term></span>&rdquo; için <span data-search-found-count></span> sonuç bulundu.</p>

<!-- Search result template -->
<div class="search-results" data-search-results>   
<script type="text/x-template" id="search-result">
<div class="search-item">
<h4 class="search-item-title"> <a href="##Url##">##Title##</a> </h4>
<span class="search-info"><h6 lang="en">##Date##</h6><h6>##Category##</h6></span>
<p>##Excerpt##</p>
</div>
  </script>
</div>

<div class="tag-area">
    <h3 class="section-header">Kategoriler</h3>
    <div class="tag-cloud">
        {%- assign sorted_cats = site.categories | sort -%}
        {%- for category in sorted_cats -%} 
           <li><a href="/{{ category[0] | slugify: 'latin' }}">{{ category[0] | capitalize }}<div class="tag-line"></div><span lang="en" class="count">{{ category[1].size }}</span></a></li>
        {%- endfor -%}
    </div>
</div>

<div class="tag-area">
  <h3 class="section-header">Etiketler</h3>
{%- assign note-tags =  site.notlar | map: 'tags' -%}
{%- assign post-tags = site.posts | map: 'tags' -%}

{%- assign tags = note-tags | concat: post-tags | join: ',' | split: ',' | sort -%}

{%- assign previousTag = "" -%}
{%- assign counter = 0 -%}

<div class="tag-cloud" id="tag-list">
{% capture tags %}
{% for currentTag in tags %}

  {% if previousTag == "" %}
    {% assign previousTag = currentTag %}
  {% endif %}

  {%- if currentTag == previousTag -%}
    {%- assign counter = counter | plus: 1 -%}
  {%- else -%}
    <li data-sort="{{ site.posts.size | minus: previousTag.size | prepend: '0000' | slice: -4, 4 }}" class="tag-item"><a class="tag-cloud-item" href="/etiket/{{ previousTag | slugify:'latin' }}/">{{ previousTag }}<div class="tag-line"></div><span lang="en" class="count">{{ counter }}</span></a></li>
    {%- assign counter = 1 -%}
  {%- endif -%}

  {%- if forloop.last -%}
    <li data-sort="{{ site.posts.size | minus: currentTag.size | prepend: '0000' | slice: -4, 4 }}" class="tag-item"><a class="tag-cloud-item" href="/etiket/{{ currentTag | slugify:'latin' }}/">{{ currentTag }}<div class="tag-line"></div><span lang="en" class="count">{{ counter }}</span></a></li>
  {%- endif -%}

  {%- assign previousTag = currentTag -%}

{%- endfor -%}
    {%- endcapture -%}
    {{ tags | split:'</li>' | sort | join:'</li>' }}
    
</div>
</div>
    
</div>      
</main>
{%- include footer.html -%}
</body>